body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgray;
}


.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #4287f5;
    max-height: 750px; /* Adjust the max-height as needed */
}


.form-group {
    margin-bottom: 20px;
   margin-left: -1rem;
   display: block;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
}
.toLogin{
    margin-left: 18rem;
    margin-top: -2.5rem;
    color: #fff;
}
h1{
    text-align: center;
}

button {
    align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  
}

button:active,
button:hover {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    button {
      font-size: 24px;
      min-width: 196px;
    }
  }

.logo {
    display: block;
    margin: 0 auto;  /* Center the logo horizontally */
    max-width: 40%;
    height: 160px;
    margin-bottom: 10px;  /* Add spacing below the logo */
    margin-top: -1rem;
    padding-top: -15rem;
}