@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

*{
    margin:0; /*used to create space around elements, outside of any defined borders*/
    padding: 0;/*Padding is used to create space around an element's content, inside of any defined borders*/
    box-sizing: border-box;
    font-family: 'Joan', serif;
}

a{
    text-decoration: none;
    color: #adadad;
}

.btn{

    display:inline-block;
    padding: .1rem 2rem;
    background-color: rgb(19, 18, 18);
    border-radius: 9rem;
    color:#f81010;
    transition: .3s;
}

.btn:hover{/*after selected*/
    background-color: #92601f;
}

.btn-1{

    width:100%;
    text-align: center;
    
}

body{

    background-color: #0e0d0d;
    display: grid;
    
    grid-template-columns: 1000px;/*defines the line names and track sizing functions of the grid columns.*/
    justify-content:space-around;/*defines how the browser distributes space between and around content items along the main-axis*/
}

/* top bar*/

.top-bar{

    display: flex;/*makes it easier to design flexible responsive layout structure without using float or positioning*/
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0rem;
    
    
}

.left-content {
    display: flex;
    align-items: center;


}
.right-content{
    display: flex;
    align-items: center;

}

.title{
    margin: right 3rem;
    color: #cd8c38;
    
    


}

.navigation{
    display: flex;
    list-style:none;


}

.navigation li{

    margin-right: 1rem;
}

.navigation li a:hover{
    color: #cd8c38;


}

.active{
    color:#cd4938 ;


}

.profile-img-box{
    position: relative;/*normal position*/
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;/*controls what happens to content that is too big to fit into an area.*/
}

img{

    position: absolute;/*is positioned relative to the nearest positioned ancestor*/
    
    width: 100%;
    height: 100%;
    object-fit: cover;/*how the img fir its container*/
}

/*main container*/
.main-container{

    color: #1cf009;
    
    
    
     
}

.sidebar{

    background: linear-gradient(45deg, rgb(250, 124, 6),rgb(250, 124, 6));
    backdrop-filter: blur(5px);
    height:fit-content ;
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    margin-left: -5rem;
    position:fixed;
   
}

.sidebar-groups{
    margin-bottom: 1rem;
  
    
    
}

.sg-title{
    margin-bottom: .5rem;
    color: #fff;
    
    
}

input{
    margin-bottom: .6rem;
    
}


/* movies container*/

.upcoming-img-box{
    position: relative;
    height: 300px;
    width:100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    
}

.upcoming-title{

    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #cd8c38;
    background-color: #1e1f26;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 5px solid #cd8c38;
    font-weight: 500;
}

.buttons{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
}

.btn-alt{

    background-color: #1e1f26;
    color: #cd8c38;
    border: 1px solid #cd8c38;
    margin-left: 1rem;
}

.btn-alt:hover{
    color: #0924ec;
    background-color: #cd8c38;

}

/*current movies*/

.movies-container{
    padding-bottom: 2rem;
    margin-left: 11rem;
    
    
}

.current-movies{

    display: grid;
    grid-template-columns: repeat(3,0fr);/*number of movies in a row*/
    gap: 1.5rem;
    
    
}

.current-movie{
    background: linear-gradient(45deg, rgba(255, 255, 255, .05),rgba(205, 140, 56, .15));
    padding: 1rem;
    border-radius: .5rem;
    
    

}

.cm-img-box{
    position: relative;
    height: 300px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: auto;
}
.movie-title{
    color: #fff;
    margin-bottom: .2rem;
}

.booking{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
